*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Inter,Segoe UI,Arial,sans-serif;
  background:#0f172a;
  color:white;
}

#root{
  min-height:100vh;
}

button{
  cursor:pointer;
}

input,select{
  outline:none;
}